# Build results
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Rider/VSCode/VS user settings
.vscode/
.vs/
.idea/
*.code-workspace

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# dotnet user secrets
**/secrets.json

# Logs
*.log

# Database files
*.mdf
*.ldf

# Others
.DS_Store
*.dbmdl
.env
